.navigation {
    height: 80px;
    background-color: peru;
}

.navigation ul {
    display: flex;
    justify-content: center;
}

.navigation ul li {
    margin-left: 90px;
    list-style-type: none;
    line-height: 80px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}
.navigation ul li a:hover {
    color: #D40D26;
}

u {
    color: green;
}
.my_content {
    background-color: lightblue;
    margin-top: -25px;
}
.my_content img {
    width: 300px;
    height: 300px;
    margin-top: -55px;
    float: right;
}

.my_content h1 {
    color: green;
    margin-left: 300px;
}